In [136]:
import numpy as np
import json
import pandas as pd
import random
import pickle

In [138]:
types = ["car", "bus", "van", "pedestrian","dolly"];
x = np.random.randint(20,100, (10,4))
values_frames = []
print(x)

[[28 75 92 41]
 [42 36 70 97]
 [78 74 21 29]
 [44 44 44 69]
 [78 35 52 68]
 [71 63 63 89]
 [34 84 56 70]
 [44 25 85 69]
 [61 33 91 79]
 [72 55 95 38]]

In [139]:
a = random.randint(1,2)
b = random.randrange(0,4,1)
print(a)
print(b)

1
0

In [140]:
total_filename = 500
values = []

for i in range(total_filename):
    file_name = "name" + str(i+1)
    
    random_list = np.random.randint(5)
    types_len = len(types)
    typenum_list = np.random.randint(types_len, size=(random_list))
#     print(typenum_list)
    type_list = [types[value] for value in typenum_list]
    
    points = np.random.randint(0, 600, size=(random_list))
    occluded = np.random.randint(2,size=random_list)
    value = { "filename": file_name, "occluded": list(occluded), "points": list(points), "types": list(type_list)}
    values.append(value)
# print(values)
filename="data_result.pickle"
# values = {"values": values}
# print("Values", values)
with open(filename, 'wb') as f:
    pickle.dump(values, f)

In [141]:
filename = "data_result.pickle"

with open (filename,'rb') as f:
    data = pickle.load(f)
#create a series panda values with headers and columns
headers = list(data[0].keys())
print(headers)

# print(data)

['filename', 'occluded', 'points', 'types']

In [142]:
points_cl = []
types_cl = []
filenames_cl = []
occluded_cl = []

points_cl = np.concatenate([np.array(value["points"]) for value in data], axis=0)
types_cl =  np.concatenate([np.array(value["types"]) for value in data], axis=0)   
occluded_cl =  np.concatenate([np.array(value["occluded"]) for value in data], axis=0)   
filenames_cl = np.concatenate([np.full(len(value["types"]), value["filename"]) for value in data], axis=0)

In [143]:
print("points shape",points_cl.shape)
print("type shape", types_cl.shape)
print("filename shape", filenames_cl.shape)
print("ocluded shape", occluded_cl.shape)

points shape (964,)
type shape (964,)
filename shape (964,)
ocluded shape (964,)

In [144]:
d = {"types": types_cl, "filename": filenames_cl, "occluded": occluded_cl, "points": points_cl}

In [75]:
print(d)

{'types': array(['bus', 'dolly', 'car', ..., 'bus', 'dolly', 'car'], dtype='<U32'), 'filename': array(['name1', 'name1', 'name2', ..., 'name499', 'name499', 'name500'],
      dtype='<U7'), 'occluded': array([0., 1., 1., ..., 0., 1., 0.]), 'points': array([165., 444., 129., ..., 561., 474., 147.])}

In [145]:
df = pd.DataFrame(data=d)

In [146]:
df

     types filename  occluded  points
0      car    name1       0.0   494.0
1      van    name2       0.0   322.0
2      car    name2       1.0   113.0
3      bus    name3       0.0    72.0
4      van    name6       0.0   388.0
..     ...      ...       ...     ...
959    bus  name497       1.0   172.0
960    car  name497       0.0    62.0
961  dolly  name497       1.0    50.0
962    van  name498       0.0   293.0
963    car  name498       1.0   121.0

[964 rows x 4 columns]

In [128]:
#detect outlier
def detect_outlier_by_IQR(DataFrame, AttList, Rate=3.0):
    OutlierIdx = []
    for att in AttList:
        AttData = DataFrame.loc[:, att]
        lowerq = AttData.quantile(0.25)
        upperq = AttData.quantile(0.75)
        IQR = upperq - lowerq
        threshold_upper = (IQR*Rate) + upperq
        threshold_lower = lowerq - (IQR*Rate)
        #get list of idx that are outliers
        print("Min {}, Max {}, and IQR {}".format(AttData.min(), AttData.max(), IQR))
        print("Upper fence {} and lower fence {}".format(threshold_upper, threshold_lower))

        thres_data = AttData[AttData.apply(lambda x: x >threshold_upper or x < threshold_lower)]
        print(thres_data)
        
        AttOutlierIdx = set(thres_data.index.array)
        OutlierIdx = set(OutlierIdx) | AttOutlierIdx
        
        print(att + " " + str(len(AttOutlierIdx)) + " Outlier Idx: " + str(AttOutlierIdx))
    
    OutlierIdx = list(OutlierIdx)
    OutlierIdx = sorted(OutlierIdx)
    return OutlierIdx

In [ ]:
from sklearn.neightbors import LocalOutlierFactor
def detect_outlier_by_LOF(data_frame, att_list, lof_threshold=3.0, neighbors=10):
    lof = LocalOutlierFactor(n_neightbors=neighbors)
    att_data = data_frame.loc[:, att_list].values
    y_pred = lof.fit_predict(att_data)
    attdata_scores = -1 * clf.negative_outlier_factor_
    lof_factor_data = pd.DataFrame(attdata_scores, columns=['LOF'])
    lof_factor_data = lof_factor_data.sort_values('LOF', ascending=False)

In [130]:
def separate_data_by_att(DataFrame, att):
    AttData = DataFrame.loc[:,att]
    print(AttData)
    types = pd.Series(np.array(AttData)).unique()
    item_list = []
    for t in types:
        df_t = DataFrame[DataFrame[att] == t]
        item_list.append(df_t)
        print("Data", df_t)
    print("Types: ",types)
    return item_list

In [173]:
#separate by class
outlier_index = set()
headers = df.columns.values.tolist()
print(headers)
item_list = separate_data_by_att(df,'types')

['types', 'filename', 'occluded', 'points']
0        car
1        van
2        car
3        bus
4        van
       ...
959      bus
960      car
961    dolly
962      van
963      car
Name: types, Length: 964, dtype: object
Data     types filename  occluded  points
0     car    name1       0.0   494.0
2     car    name2       1.0   113.0
6     car    name6       0.0    67.0
9     car    name9       0.0   553.0
10    car   name10       0.0   130.0
..    ...      ...       ...     ...
956   car  name495       0.0    35.0
957   car  name495       0.0   436.0
958   car  name497       0.0   454.0
960   car  name497       0.0    62.0
963   car  name498       1.0   121.0

[196 rows x 4 columns]
Data     types filename  occluded  points
1     van    name2       0.0   322.0
4     van    name6       0.0   388.0
12    van   name10       1.0     6.0
24    van   name16       0.0   462.0
25    van   name16       0.0   579.0
..    ...      ...       ...     ...
925   van  name478       1.0   113.0
940   van  name487       0.0    39.0
943   van  name489       0.0   293.0
948   van  name491       0.0   290.0
962   van  name498       0.0   293.0

[173 rows x 4 columns]
Data     types filename  occluded  points
3     bus    name3       0.0    72.0
5     bus    name6       1.0   325.0
7     bus    name9       0.0    88.0
14    bus   name12       0.0   414.0
15    bus   name12       0.0   181.0
..    ...      ...       ...     ...
939   bus  name487       0.0   177.0
942   bus  name487       1.0   268.0
944   bus  name489       0.0   171.0
952   bus  name492       0.0   187.0
959   bus  name497       1.0   172.0

[184 rows x 4 columns]
Data           types filename  occluded  points
8    pedestrian    name9       1.0   375.0
13   pedestrian   name11       1.0   326.0
21   pedestrian   name14       0.0   230.0
23   pedestrian   name14       1.0   495.0
44   pedestrian   name32       0.0     8.0
..          ...      ...       ...     ...
941  pedestrian  name487       0.0   559.0
949  pedestrian  name491       1.0   179.0
953  pedestrian  name492       1.0   343.0
954  pedestrian  name493       1.0   149.0
955  pedestrian  name493       0.0   407.0

[206 rows x 4 columns]
Data      types filename  occluded  points
11   dolly   name10       1.0    93.0
17   dolly   name13       0.0   202.0
18   dolly   name13       0.0   353.0
19   dolly   name13       1.0    45.0
20   dolly   name13       0.0   521.0
..     ...      ...       ...     ...
935  dolly  name483       0.0   409.0
945  dolly  name489       1.0   301.0
946  dolly  name490       1.0   376.0
950  dolly  name491       1.0   482.0
961  dolly  name497       1.0    50.0

[205 rows x 4 columns]
Types:  ['car' 'van' 'bus' 'pedestrian' 'dolly']

In [168]:
outlierAtt = ['points']
outlier_idx_list = []
for item in item_list:
    outlier_idx_list += detect_outlier_by_IQR(item, AttList=outlierAtt, Rate=0.5)
#     print("Size of IQR: " + str(len(outlier_idx)))
#remove outlier by LOF as well

Min 2.0, Max 595.0, and IQR 294.75
Upper fence 579.125 and lower fence -10.375
770    595.0
Name: points, dtype: float64
points 1 Outlier Idx: {770}
Min 3.0, Max 599.0, and IQR 341.0
Upper fence 643.5 and lower fence -38.5
Series([], Name: points, dtype: float64)
points 0 Outlier Idx: set()
Min 5.0, Max 599.0, and IQR 323.0
Upper fence 582.5 and lower fence -63.5
38     595.0
127    599.0
434    598.0
488    592.0
489    586.0
Name: points, dtype: float64
points 5 Outlier Idx: {38, 488, 489, 434, 127}
Min 6.0, Max 599.0, and IQR 320.0
Upper fence 617.5 and lower fence -22.5
Series([], Name: points, dtype: float64)
points 0 Outlier Idx: set()
Min 8.0, Max 599.0, and IQR 306.0
Upper fence 592.0 and lower fence -20.0
63     598.0
198    596.0
237    596.0
645    599.0
Name: points, dtype: float64
points 4 Outlier Idx: {645, 237, 198, 63}

In [169]:
#Remove outliers idx 
print(outlier_idx_list)
print(df.loc[[770]])
print(df.loc[[645]])
print(df.loc[[434]])

[770, 38, 127, 434, 488, 489, 63, 198, 237, 645]
    types filename  occluded  points
770   car  name398       0.0   595.0
     types filename  occluded  points
645  dolly  name330       1.0   599.0
    types filename  occluded  points
434   bus  name228       0.0   598.0

In [179]:
def remove_rows_from_dataframe(dataframe, rowIdxList = []):
    data_frame = dataframe.drop(rowIdxList)
    print(data_frame.shape)
    data_frame = data_frame.reset_index(drop=True)
    return data_frame

In [180]:
#remove data frome data_frame should we cluster points inside box?
data_frame = remove_rows_from_dataframe(df,outlier_idx_list)

(954, 4)

In [181]:
print(data_frame.shape)

(954, 4)